@model BulkyBook.Models.ViewModels.ShoppingCartVM

<form class="pt-2" method="post">
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class=" row align-items-center">
					<h4 class="col-6 m-0">
						<i class="fa fa-shopping-cart me-2"></i>
						Order Summary
					</h4>
					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-outline-light btn-sm">Back to Cart</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Shipping Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Name:</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.Name" class="form-control" />
									<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Phone:</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.PhoneNumber" class="form-control" />
									<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Address:</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.Address" class="form-control" />
									<span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City:</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.City" class="form-control" />
									<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>State:</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.State" class="form-control" />
									<span asp-validation-for="OrderHeader.State" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Postal Code:</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.PostalCode" class="form-control" />
									<span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Order Summary:</span>
							</h4>
							<ul class="list-group pt-1 mb-3">
								@foreach (var details in Model.ShoppingCartList)
								{
									<li class="list-group-item d-flex justify-content-between align-items-center">
										<div>
											<h6 class="my-0">@details.Product.Title</h6>
											<small class="text-muted">Quantity: @details.Count</small>
										</div>
										<div class="text-muted">@((details.Price * details.Count).ToString("c")) </div>
									</li>
								}
								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Total:</small>
									<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row align-items-center">
					<div class="col-12 col-md-6">
						<p class="m-0" style="color:maroon; font-size:14px;">
							Estimate Arrival Date:
							@DateTime.Now.AddDays(3).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()
						</p>
					</div>
					<div class="col-12 col-md-6">
						<button type="submit" value="Order" class="btn btn-outline-primary form-control">Place Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}